.game-select {
    width: 100%;
    font-size: 12px;
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    margin: 0 auto 40px;
}

.games {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    justify-content: center;
    text-align: left;
}

.game-select div {
    margin: 5px 15px;
}
