table, th, td {
    table-layout: fixed;
    line-height: normal;
    border: 1px solid rgb(0, 0, 0);
    border-collapse: collapse;
}

td {
    padding: 4px;
}

.ability-list {
    width: 100%;
    text-align: left;
    font-size: 12px;
    margin-bottom: 20px;
}

.ability-name {
    width: 25%;
    text-wrap: nowrap;
    font-weight: bold;  
}

.ability-description {
    width: 75%;
}

.hidden {
    font-style: italic;
}