.pokemon-cards {
    position: relative;
    z-index: 1;
    display: grid;
    grid-template-columns: 50% 50% ;
    gap: 20px;
  }

.container, .container-empty {
    display: grid;
    gap: 10px;
    border: 2px solid black;
    padding: 10px;
}

.container {
    grid-template-columns: 15% 80%;
    gap: 20px;
}

.container-empty {
    grid-template-columns: 40% 40%;
    justify-content: center;
    align-items: start;
    padding: 20px;
}

button {
    font-size: 14px;
    width: auto;
    border-radius: 3px;
    padding: 4px 8px;
}

.sprite img {
    width: 100%;
    background-color: rgba(255, 255, 255, .5);
    border-radius: 5px;
}

.info {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: start;
}

.info-header {
    width: 100%;
    display: grid;
    grid-template-columns: 65% 35%;
    justify-content: space-between;
    align-items: center;
}

.name {
    text-align: left;
    margin: 0;
}

.pokemon-select {
    display: flex;
    gap: 10px;
    justify-content: end;
}

.type-list {
    width: 100%;
    display: flex;
    gap: 5px;
    margin-top: 0;
    margin-bottom: 10px;
}

.type-list img {
    width: 65px;
}

