.tab-list {
    width: fit-content;
    min-width: 100%;
    display: flex;
    flex-wrap: wrap; 
    border-bottom: 2px solid black;
    padding: 0;
    margin: 0;
}

.tab-list li {
    display: block;
    margin-bottom: -2px;
}

.tab-list li button {
    color: black;
    background-color: #d8d7d7;
    border: 1px solid black;
}