.tab-list {
    width: fit-content;
    min-width: 100%;
    background-color: #d8d7d7;
    display: flex;
    gap: .5em;   
    border-bottom: 2px solid black;
    padding: 0;
    margin: 0;
}

.tab-list li {
    display: block;
    margin-bottom: -2px;
}